@charset 'utf-8';
/* RESET */
html {
	font-size: 18px;
}
body {
	font-size: .77rem;
	background-color: #f8f8f8;
}
@media only screen and (max-width: 440px) {
	html {
		font-size: 20px;
	}
}
@media only screen and (max-width: 400px) {
	html {
		font-size: 18px;
	}
}
@media only screen and (max-width: 340px) {
	html {
		font-size: 17px;
	}
}
